@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: "#6A1B9A";
  --secondary: "#FFA726";
  --linear: linear-gradient(135deg, #6a1b9a, #ffa726);
  --linear-2: linear-gradient(225deg, #6a1b9a 20.97%, #ffa726 79.03%);
  --linear-3: linear-gradient(99.17deg, #6a1b9a 0%, #ffa726 100%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item[data-active="true"] {
  @apply font-semibold text-primary relative;
}

.menu-item {
  position: relative;
}

.menu-item[data-active="true"]::after {
  @apply absolute border-b-2 bottom-0 left-0 border-primary;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

dialog[open] {
  animation: dialog-show 0.3s ease normal;
}

dialog[closing] {
  animation: dialog-hide 0.3s ease normal;
}

@keyframes dialog-show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dialog-hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
