@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: "#6A1B9A";
  --secondary: "#FFA726";
  --linear: linear-gradient(135deg, #6a1b9a, #ffa726);
  --linear-2: linear-gradient(225deg, #6a1b9a 20.97%, #ffa726 79.03%);
  --linear-3: linear-gradient(99.17deg, #6a1b9a 0%, #ffa726 100%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item[data-active="true"] {
  @apply font-semibold text-primary relative;
}

.menu-item {
  position: relative;
}

.menu-item[data-active="true"]::after {
  @apply absolute border-b-2 bottom-0 left-0 border-primary;
}
